:root {
  --background1-start: #ff9a9e;
  --background1-end: #fad0c4;
  --background2-start: #a1c4fd;
  --background2-end: #c2e9fb;

  --before-top: 90%;
  --before-left: 0%;
  --after-top: 5%;
  --after-left: 95%;
}

.dark {
  --background1-start: #4d9ae7;
  --background1-end: #1c4677;
  --background2-start: #8308c5;
  --background2-end: #301c3b;
}

.main-background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.main-background::before,
.main-background::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  will-change: transform, top, left;
  transition:
    top 0.5s ease,
    left 0.5s ease;
}

/* first */
.main-background::before {
  width: 30%;
  height: 50%;
  top: var(--before-top);
  left: var(--before-left);
  background: radial-gradient(circle at center, var(--background1-start), var(--background1-end), transparent 70%);
  filter: blur(120px);
}

/* second */
.main-background::after {
  width: 50%;
  height: 40%;
  top: var(--after-top);
  left: var(--after-left);
  background: radial-gradient(circle at center, var(--background2-start), var(--background2-end), transparent 70%);
  filter: blur(150px);
}
