@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-radius: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #b9b9b9c2;
  background-clip: content-box;
  border: 1px solid transparent;
}

  body {
    @apply text-black bg-white dark:text-white dark:bg-[#09090b]
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
